<div class="row" style=" display: flex;">
  <div class="col-sm-3" style="margin: auto; margin-top: 50px;">
      <div class="card">
          <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
          <div class="avatar">
            <%= image_tag("waikit.png") %>
          </div>
          <div class="content">
              <p>
                Wai Kit <br>
                Wai Kit Sdn Bhd. <br>
                13/hour <br>
              </p>
          </div>
      </div>
  </div>
</div>
<br><br>
<div class="row" style=" display: flex;">
	<div class="date-picker col col-sm-8" style="margin: auto;">
	    <ul class="list-inline intro-social-buttons">
			<li>
		        <div class="date-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">17 November 2017</span></div>
		    </li>
			<li>
		        <div class="date-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">18 November 2017</span></div>
		    </li>
			<li>
		        <div class="date-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">24 November 2017m</span></div>
		    </li>
		    <li>
		        <div class="date-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">25 November 2017</span></div>
		    </li>
		</ul>
	</div>
</div>
<br><br>
<div class="row" style=" display: flex;">
	<div class="col col-sm-7 time-picker" style="display: none; margin: auto;">
	    <ul class="list-inline intro-social-buttons">
			<li>
		        <div class="time-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">2.00pm - 3.00pm</span></div>
		    </li>
			<li>
		        <div class="time-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">3.00pm - 4.00pm</span></div>
		    </li>
			<li>
		        <div class="time-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">4.00pm - 5.00pm</span></div>
		    </li>
		    <li>
		        <div class="time-btn btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">5.00pm - 6.00pm</span></div>
		    </li>
		</ul>
	</div>
</div>
<br><br>
<div style="display:flex;">
	<div class="col col-sm-1" style="margin:auto">
	  <%= button_to "Book", "/#", id: "book-button", class: "btn btn-primary btn-lg", remote: true, style: "display: none" %>
	</div>
</div>
<script>
	// flatpickr('#date-picker',{
	// 	minDate: "today",
	// 	"enable": [
 //        function(date) {
 //            return (date.getDay() === 5 || date.getDay() === 6);
	//         }
	//     ]
	// });

	$('.time-btn').click(function(){
		$('.time-btn').removeClass('btn-primary');
		$(this).addClass('btn-primary');
		$('#book-button').show();
	})

	$('.date-btn').click(function(){
		$('.date-btn').removeClass('btn-primary');
		$(this).addClass('btn-primary');
		$('.time-btn').removeClass('btn-primary');
		$('.time-picker').show();
	});
</script>